{% extends 'base.html' %}

{% block title %}Chat Room{% endblock %}
{% block content %}

<h1>Welcome to Chat</h1>

<h2>Private Conversations</h2>
<ul>
    {% for user in recent_contacts %}
        <li>
            <a href="{% url 'chat:chat_room' mode='private' id=user.id %}">
                {{ user.full_name }}
            </a>
        </li>
    {% empty %}
        <li>No private messages yet.</li>
    {% endfor %}
</ul>

<h2>Your Group Chats</h2>
<ul>
    {% for group in groups %}
        <li>
            <a href="{% url 'chat:chat_room' mode='group' id=group.id %}">
                {{ group.name }}
            </a>
        </li>
    {% empty %}
        <li>You're not in any groups yet.</li>
    {% endfor %}
</ul>

{% endblock %}
