{% load static %}
<link rel="stylesheet" href="{% static 'registerandlogin/css/login.css' %}">

{% block content %}
<div class="login-container">
  <h2>Login</h2>

  {% if error_message %}
    <div class="login-message">{{ error_message }}</div>
  {% endif %}

  <form method="post" class="login-form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="id_identifier">Email or Phone Number:</label>
    {{ form.identifier }}

    <label for="id_password">Password:</label>
    {{ form.password }}

    <button type="submit">Log in</button>
  </form>

  <a class="login-link" href="{% url 'forgot_password' %}">Forgot password?</a>
  <a class="login-link" href="{% url 'register' %}">Not registered yet?</a>
</div>
{% endblock %}
